<div class="container-login">
    <div class="section-logo">
        <div class="img-logo"></div>
    </div>
    <div class="container-inputs">
        <div class="section-input">
            <span>Usuario</span>
            <input type="text" placeholder="Ingrese usuario">
        </div>
        <div class="section-input">
            <span>Contraseña</span>
            <input type="password" placeholder="Ingrese contraseña">
        </div>

        <button (click)="entrar()" mat-button color="primary">Entrar</button>
    </div>
</div>